<!DOCTYPE html>
<html lang="en">

<title>{% block title %}{% endblock title %} | JC Records</title>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand">Staffscan</a>
            </div>
            <div class="navbar-collapse collapse" id="mobile_menu">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/assigntask">Assign Task</a></li>
                            <li><a href="/attendancemanage">Attendance Manage</a></li>
                            <li><a href="/leavemanage">Leave Manage</a></li>
                            <li><a href="/salarybasedattendance">Salary Based Attendance</a></li>
                        </ul>
                    </li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="/freedemo">Free Demo</a></li>

                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>


                </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<head>

    {% block body %}{% endblock body %}


    </body>

</html>